<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Brian Dunlap:</h2>
                    <h3 class="section-subhead-2">A Brief History</h3>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div>
                    <p style="text-align: center">I like to make jokes and I love to write, and the marriage of the two often leads to long, absurd narratives with absolutely no bearing in reality (interesting factoid: Marie Antoinette maniacally collected ivory dog statues, which ironically led to her death).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 18, 1989</h4>
                                    <h4 class="subheading">A Human Is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Just as Brian is born, a butterfly perches squarely on his nose. An auspicious sign, and according to ancient Nordic mythos the mark of a born programmer.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2011</h4>
                                    <h4 class="subheading">Event Horizon</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A bona fied Russian major with a Bachelor of Arts under his belt is thrust into the world. Brian quickly realizes that college majors and career trajectories don't always align.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">A Fateful Encounter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working at a marketing agency, Brian sleuthes into the dev team's camp and brushes shoulders with JavaScript and Backbone. He feels fear, but also intrigue. Important seeds are sewn.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2015</h4>
                                    <h4 class="subheading">Renaissance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Brian takes a leap of faith, making a 180-degree career pivot, and enrolls in The Iron Yard in Atlanta. The seeds of passion burst into life, and professional doubt is subsumed by a new, vigorious love for finding new ways to build the things he's always wanted.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>