<!-- Services Section -->
    <section id="services">
        <div id="container">  
          <div class="skills-description">
            <p class="quote">"The skills don't make the man, they just make him of any value or interest to our company."</p>
            <p class="author">- Martha Stewart (citation pending)</p>

            <p></p>
          </div>

          <div id="bar-1" class="bar-main-container red">
            <div class="wrap">
              <div class="skill-title">RUBY</div>
              <div class="bar-percentage" data-percentage="80"></div>
              <div class="bar-container">
                <div class="bar"></div>
              </div>
            </div>
          </div>
          
          <div id="bar-2" class="bar-main-container emerald">
            <div class="wrap">
              <div class="skill-title">RAILS</div>
              <div class="bar-percentage" data-percentage="80"></div>
              <div class="bar-container">
                <div class="bar"></div>
              </div>
            </div>
          </div>
          
          <div id="bar-3" class="bar-main-container violet">
            <div class="wrap">
              <div class="skill-title">POSTGRESQL</div>
              <div class="bar-percentage" data-percentage="75"></div>
              <div class="bar-container">
                <div class="bar"></div>
              </div>
            </div>
          </div>
          
          <div id="bar-4" class="bar-main-container yellow">
            <div class="wrap">
              <div class="skill-title">RSPEC</div>
              <div class="bar-percentage" data-percentage="60"></div>
              <div class="bar-container">
                <div class="bar"></div>
              </div>
            </div>
          </div>
          
          <div id="bar-5" class="bar-main-container azure">
            <div class="wrap">
              <div class="skill-title">HTML / CSS</div>
              <div class="bar-percentage" data-percentage="65"></div>
              <div class="bar-container">
                <div class="bar"></div>
              </div>
            </div>
          </div>
        </div>
    </section>